<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="60">
    <title>Blinken</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/blinken-styles.css">
  </head>
  <body>
    <div>
      <p>
        You need to be on the VPN to see the Icinga alerts below. You can ignore most alerts - the only ones that still need attention are:
      </p>
      <ul>
          <li>“overdue publications in Whitehall”</li>
          <li>“Travel Advice email alert check” / “Medical Safety Email alert check”</li>
          <li>Anything to do with Licensify</li>
      </ul>
    </div>
    <div class="container-fluid">
      <div class="status-indicators"></div>
    </div>
  </body>
  <script src="assets/js/jquery-2.2.4.min.js"></script>
  <script src="assets/js/blinken-config.js"></script>
  <script src="assets/js/blinken.js"></script>
</html>
