<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="60">
    <% if dark_mode %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css" integrity="sha384-w+8Gqjk9Cuo6XH9HKHG5t5I1VR4YBNdPt/29vwgfZR485eoEJZ8rJRbm3TR32P6k" crossorigin="anonymous">
    <% else %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <% end %>
    <link rel="stylesheet" href="/assets/css/zendesk.css" crossorigin="anonymous">
    <title>Summary</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Technical 2nd line dashboard</h1>
      </div>

      <hr />

      <div class="row">
        <h2>Useful links</h2>
      </div>

      <div class="row">
        <ul>
          <li><a href="https://trello.com/b/M7UzqXpk/govuk-technical-2nd-line" target="_top">Technical 2nd line Trello board</a></li>
          <li><a href="https://docs.publishing.service.gov.uk/" target="_top">GOV.UK Developer Docs</a></li>
          <li><a href="https://docs.publishing.service.gov.uk/manual/2nd-line.html" target="_top">Guide to Technical 2nd line</a></li>
          <li><a href="https://docs.publishing.service.gov.uk/manual/zendesk.html" target="_top">Guide to Zendesk</a> and <a href="https://docs.google.com/presentation/d/1EotoM2CVtqlnx54Qz5bP7OyIx5c9ji_GptUuymHkBrc/edit" target="_top">Zendesk triaging guide</a></li>
          <li><a href="https://docs.publishing.service.gov.uk/manual/on-call.html" target="_top">Production Access guide</a> and <a href="https://docs.google.com/presentation/d/10oRKrXqYki7LSFUySjb1e_FdTYGLihMKjeoH9qWC1kU/edit" target="_top">associated flow diagram</a></li>
          <li><a href="https://docs.publishing.service.gov.uk/manual/2nd-line-drills.html" target="_top">Technical 2nd line Drills</a></li>
          <li><a href="https://docs.publishing.service.gov.uk/kubernetes/cheatsheet.html" target="_top">Docs on GOV.UK EKS/Kubernetes infrastructure</a></li>
        </ul>
      </div>

      <div class="row">
        <h2>Dashboards</h2>
      </div>

      <div class="row">
        <h3>Requests</h3>
      </div>

      <div class="row">
        <ul>
          <li><a href="https://grafana.eks.production.govuk.digital/d/app-requests/app3a-request-rates-errors-durations?orgId=1&refresh=1m" target="_top">App request rates, errors, durations</a></li>
          <li><a href="https://grafana.eks.production.govuk.digital/d/router-requests/router3a-request-rates-errors-durations?orgId=1" target="_top">Router request rates, errors, durations</a></li>
          <li><a href="https://grafana.eks.production.govuk.digital/d/bf166f12-d1d7-4c99-98bd-6b9d90dbd1ae/static-mirror-requests?orgId=1" target="_top">Static mirror requests</a></li>
        </ul>
      </div>

      <div class="row">
        <h3>Sidekiq</h3>
      </div>
  
      <div class="row">
        <ul>
          <li><a href="https://grafana.eks.production.govuk.digital/d/sidekiq-queues/sidekiq3a-queue-length-max-delay" target="_top">Sidekiq queue lengths and age-of-oldest-job</a></li>
          <li><a href="https://grafana.eks.production.govuk.digital/d/mq/amqp-message-queues-amazonmq?orgId=1" target="_top">AMQP message queues (AmazonMQ)</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
