<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="60">
    <% if dark_mode %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css" integrity="sha384-w+8Gqjk9Cuo6XH9HKHG5t5I1VR4YBNdPt/29vwgfZR485eoEJZ8rJRbm3TR32P6k" crossorigin="anonymous">
    <% else %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <% end %>
    <link rel="stylesheet" href="/assets/css/zendesk.css" crossorigin="anonymous">
    <title>Summary</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>2nd line dashboard</h1>
      </div>

      <hr />

      <div class="row">
        <h2>About this dashboard</h2>
        <p>
            You need to provide auth credentials to see the <strong>Zendesk frame</strong> (top right). <a href="https://dashboard.heroku.com/apps/govuk-zendesk-display-screen/settings" target="_top">Retrieve the credentials from Heroku</a>.
        </p>
        <p>
            You need to be on the VPN to see the <strong>Icinga frame</strong> (bottom right). Note that there are currently a lot of ignorable alerts - the only ones you will want to pay attention to are:
        </p>
        <ul>
            <li>“scheduled publications in Whitehall not queued” / “overdue publications in Whitehall”
            <li>“Travel Advice email alert check” / “Medical Safety Email alert check”</li>
            <li>Anything to do with crawler/mirrors</li>
            <li>Anything to do with Licensify</li>
        </ul>
      </div>

      <div class="row">
        <h2>Other resources</h2>
        <ul>
            <li>See the <a href="https://docs.publishing.service.gov.uk/manual/kubernetes-infrastructure.html" target="_top">EKS/Kubernetes infrastructure</a> page in the Developer Docs.</li>
            <li>See the <a href="https://govuk-k8s-user-docs.publishing.service.gov.uk/" target="_top">GOV.UK Kubernetes platform user documentation</a>. This will eventually be absorbed into the Developer Docs.</li>
            <li>Dashboards are on <a href="https://grafana.eks.production.govuk.digital/" target="_top">https://grafana.eks.production.govuk.digital/</a> and no longer require VPN. Don’t get confused by the <a href="https://grafana.production.govuk.digital" target="_top">old Grafana</a>.</li>
            <li>See Sidekiq queue lengths and age-of-oldest-job on the <a href="https://grafana.eks.production.govuk.digital/d/2Yy8PzmVk" target="_top">Sidekiq Grafana dashboard</a>. The <a href="https://sidekiq-monitoring.integration.govuk.digital/publishing-api/queues" target="_top">old detailed Sidekiq dashboard</a> is not yet available for EKS.</li>
        </ul>
      </div>
    </div>
  </body>
</html>
