body {
  background-color: #000;
  color: #fff;
}

h2 {
  margin: 0;
}

.container-fluid {
  margin: 20px;
  min-width: 300px;
}

.blinken-environment {
  display: block;
  padding: 10px;
  color: #fff;
}

.col-md-3 {
  padding-left: 0;
  padding-bottom: 15px;
}

.blinken-environment:hover {
  text-decoration: none;
  color: #fff;
}

.blinken-entry {
  color: #fff;
  bottom: 10px;
  display: inline-block;
  width: 25%;
}

.blinken-timestamp {
  float: right;
  margin: 0;
  max-width: 70px;
}

.blinken-entry {
  text-align: center;
}

.blinken-entry h3 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 400%;
}

.blinken-critical {
  background-color: #ff3200;
}

.blinken-warning {
  background-color: #ffcc05;
}

.blinken-unknown {
  background-color: #e066ff;
}

.blinken-acknowledged {
  background-color: #0E6600;
}

.blinken-ok {
  background-color: #1ace00;
}

.blinken-unavailable {
  background-color: #ddd;
}
